<%= link_to 'Add Employee', new_job_path %>
<br>
<%= page_entries_info @jobs %>
<br>
<h1 class='red'>Employees</h1>
<%= render partial: "job", collection: @jobs %>
<%= paginate @jobs %>

<%= image_tag('abc.jpg', alt: 'Smiley Face') %>
<%= image_tag('car.jpg', alt: 'Bmw') %>
